<section class="text-center">
  <div class="container">
    <div
      class="card mx-4 mx-md-5 shadow-5-strong mb-5"
      style="
        margin-top: 30px;

        background: hsla(0, 0%, 100%, 0.8);

        backdrop-filter: blur(30px);
      "
    >
      <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="col-10">
            <div class="text-center">
              <h3>Todo</h3>

              <div class="text-start">
                This application has the following sections

                <span>To save Phone Number</span>
              </div>

              <div class="text-start">
                Technology used to build this application

                <ul>
                  <li>Angular</li>

                  <li>HTML</li>

                  <li>Bootstrap</li>

                  <li>Typescript</li>

                  <li>CSS</li>
                </ul>
              </div>
            </div>

            <br />

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
